USE [master]
GO
/****** Object:  Database [QLDT]    Script Date: 3/13/2025 8:34:01 AM ******/
CREATE DATABASE [QLDT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLDT', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\QLDT.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLDT_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\QLDT_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLDT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLDT]
GO
/****** Object:  Table [dbo].[CHUYENNGANH]    Script Date: 3/13/2025 8:34:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUYENNGANH](
	[MSCN] [int] NOT NULL,
	[TENCN] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MSCN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETAI]    Script Date: 3/13/2025 8:34:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETAI](
	[MSDT] [char](6) NOT NULL,
	[TENDT] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MSDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GV_HDDT]    Script Date: 3/13/2025 8:34:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GV_HDDT](
	[MSGV] [char](5) NOT NULL,
	[MSDT] [char](6) NOT NULL,
	[DIEM] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MSGV] ASC,
	[MSDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GV_HV_CN]    Script Date: 3/13/2025 8:34:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GV_HV_CN](
	[MSGV] [char](5) NOT NULL,
	[MSHV] [int] NOT NULL,
	[MSCN] [int] NOT NULL,
	[NAM] [smalldatetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MSGV] ASC,
	[MSHV] ASC,
	[MSCN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GV_PBDT]    Script Date: 3/13/2025 8:34:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GV_PBDT](
	[MSGV] [char](5) NOT NULL,
	[MSDT] [char](6) NOT NULL,
	[DIEM] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MSGV] ASC,
	[MSDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GV_UVDT]    Script Date: 3/13/2025 8:34:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GV_UVDT](
	[MSGV] [char](5) NOT NULL,
	[MSDT] [char](6) NOT NULL,
	[DIEM] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MSGV] ASC,
	[MSDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIAOVIEN]    Script Date: 3/13/2025 8:34:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIAOVIEN](
	[MSGV] [char](5) NOT NULL,
	[TENGV] [nvarchar](30) NOT NULL,
	[DIACHI] [nvarchar](50) NOT NULL,
	[SODT] [varchar](10) NOT NULL,
	[MSHH] [int] NULL,
	[NAMHH] [smalldatetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MSGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOCVI]    Script Date: 3/13/2025 8:34:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOCVI](
	[MSHV] [int] NOT NULL,
	[TENHV] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MSHV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOCHAM]    Script Date: 3/13/2025 8:34:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOCHAM](
	[MSHH] [int] NOT NULL,
	[TENHH] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MSHH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOIDONG]    Script Date: 3/13/2025 8:34:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOIDONG](
	[MSHD] [int] NOT NULL,
	[PHONG] [char](3) NULL,
	[TGBD] [smalldatetime] NULL,
	[NGAYHD] [smalldatetime] NOT NULL,
	[TINHTRANG] [nvarchar](30) NOT NULL,
	[MSGV] [char](5) NULL,
PRIMARY KEY CLUSTERED 
(
	[MSHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOIDONG_DT]    Script Date: 3/13/2025 8:34:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOIDONG_DT](
	[MSHD] [int] NOT NULL,
	[MSDT] [char](6) NOT NULL,
	[QUYETDINH] [nchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MSHD] ASC,
	[MSDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOIDONG_GV]    Script Date: 3/13/2025 8:34:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOIDONG_GV](
	[MSHD] [int] NOT NULL,
	[MSGV] [char](5) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MSHD] ASC,
	[MSGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SINHVIEN]    Script Date: 3/13/2025 8:34:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SINHVIEN](
	[MSSV] [char](8) NOT NULL,
	[TENSV] [nvarchar](30) NOT NULL,
	[SODT] [varchar](10) NULL,
	[LOP] [char](10) NOT NULL,
	[DIACHI] [nchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MSSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SV_DETAI]    Script Date: 3/13/2025 8:34:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SV_DETAI](
	[MSSV] [char](8) NOT NULL,
	[MSDT] [char](6) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MSSV] ASC,
	[MSDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[GV_HDDT]  WITH CHECK ADD FOREIGN KEY([MSDT])
REFERENCES [dbo].[DETAI] ([MSDT])
GO
ALTER TABLE [dbo].[GV_HDDT]  WITH CHECK ADD FOREIGN KEY([MSGV])
REFERENCES [dbo].[GIAOVIEN] ([MSGV])
GO
ALTER TABLE [dbo].[GV_HV_CN]  WITH CHECK ADD FOREIGN KEY([MSCN])
REFERENCES [dbo].[CHUYENNGANH] ([MSCN])
GO
ALTER TABLE [dbo].[GV_HV_CN]  WITH CHECK ADD FOREIGN KEY([MSGV])
REFERENCES [dbo].[GIAOVIEN] ([MSGV])
GO
ALTER TABLE [dbo].[GV_HV_CN]  WITH CHECK ADD FOREIGN KEY([MSHV])
REFERENCES [dbo].[HOCVI] ([MSHV])
GO
ALTER TABLE [dbo].[GV_PBDT]  WITH CHECK ADD FOREIGN KEY([MSDT])
REFERENCES [dbo].[DETAI] ([MSDT])
GO
ALTER TABLE [dbo].[GV_PBDT]  WITH CHECK ADD FOREIGN KEY([MSGV])
REFERENCES [dbo].[GIAOVIEN] ([MSGV])
GO
ALTER TABLE [dbo].[GV_UVDT]  WITH CHECK ADD FOREIGN KEY([MSDT])
REFERENCES [dbo].[DETAI] ([MSDT])
GO
ALTER TABLE [dbo].[GV_UVDT]  WITH CHECK ADD FOREIGN KEY([MSGV])
REFERENCES [dbo].[GIAOVIEN] ([MSGV])
GO
ALTER TABLE [dbo].[GIAOVIEN]  WITH CHECK ADD FOREIGN KEY([MSHH])
REFERENCES [dbo].[HOCHAM] ([MSHH])
GO
ALTER TABLE [dbo].[HOIDONG]  WITH CHECK ADD FOREIGN KEY([MSGV])
REFERENCES [dbo].[GIAOVIEN] ([MSGV])
GO
ALTER TABLE [dbo].[HOIDONG_DT]  WITH CHECK ADD FOREIGN KEY([MSDT])
REFERENCES [dbo].[DETAI] ([MSDT])
GO
ALTER TABLE [dbo].[HOIDONG_DT]  WITH CHECK ADD FOREIGN KEY([MSHD])
REFERENCES [dbo].[HOIDONG] ([MSHD])
GO
ALTER TABLE [dbo].[HOIDONG_GV]  WITH CHECK ADD FOREIGN KEY([MSGV])
REFERENCES [dbo].[GIAOVIEN] ([MSGV])
GO
ALTER TABLE [dbo].[HOIDONG_GV]  WITH CHECK ADD FOREIGN KEY([MSHD])
REFERENCES [dbo].[HOIDONG] ([MSHD])
GO
ALTER TABLE [dbo].[SV_DETAI]  WITH CHECK ADD FOREIGN KEY([MSDT])
REFERENCES [dbo].[DETAI] ([MSDT])
GO
ALTER TABLE [dbo].[SV_DETAI]  WITH CHECK ADD FOREIGN KEY([MSSV])
REFERENCES [dbo].[SINHVIEN] ([MSSV])
GO
USE [master]
GO
